<header>
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
      <div class="flex-grow-1">
        <a aria-label="Home" class="logo" routerLink="/">
          <img src="assets/images/GuerrillaGorilla.jpg" alt="Guerrilla Reddit Logo" class="guerrilla-icon">
          <span class="reddit-text">
            Guerrilla Reddit
          </span>
        </a>
      </div>
      <div class="flex-grow-2 float-right">
        <a routerLink="/sign-up" class="float-right signup mr-2">Sign up</a>
        <a routerLink="/login" class="float-right login mr-2">Login</a>
      </div>
    </nav>
  </header>